mixin about
  section.section.about-leika.section--line
    .container
      p.section-center-title Коротко о Leika
      p.section-center-p.text-center Leika - это краудинвестинговая площадка, на которой компании получаются займы от частных инвесторов - обычных пользователей сервиса. Сделки заключаются онлайн.
