mixin credits-plus-form
  .credits-plus-form
    .credits-plus-form__wrap.container
      p.credits-plus-form__txt Рассчитайте сумму займа за 2 минуты
      |         
      form.section-form(action="")
        input.section-form__input(type="text", placeholder="Название компании или ИП")
        |             
        button.btn.btn-grad(type="submit") Узнать