mixin credits-table
  section.credits-table.section.section--line
    .container
      p.section-center-title Последние запросы на получение займа
    
      table.credits-table-tablest.js-adapt-table
        thead
          tr
            th 
                p Рейтинг

            th 
                p Заёмщик

            th 
                p Тип бизнеса

            th 
                p Цель займа

            th 
                p Ставка

            th 
                p Сумма займа

            th 
                p Срок займа
            th 
                
        tbody
          tr
            td.adapt-table--none 
                p.tc-2 С

            td 
                p.tc-1 ООО

            td.adapt-table--none  
                p.tc-3 Розничная торговля

            td.adapt-table--none  
                p.tc-4 Закупка 18 мес.

            td.adapt-table--none  
                p.tc-5 25%

            td 
                p.tc-1.price 1 500 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p.tc-7 18 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ООО

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 1 500 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 22%
                      p.tcm-6 18 мес.                 


                  button.btn-also.js-close-adapt-w 
          tr
            td.adapt-table--none 
                p B

            td 
                p ООО

            td.adapt-table--none  
                p Оптовая торговля

            td.adapt-table--none  
                p Закупка товара

            td.adapt-table--none  
                p 35%

            td 
                p.price 11 500 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p 8 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ООО

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 1 500 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 20%
                      p.tcm-6 21 мес.                 


                  button.btn-also.js-close-adapt-w 
          tr
            td.adapt-table--none 
                p D

            td 
                p ООО

            td.adapt-table--none  
                p Розничная торговля

            td.adapt-table--none  
                p Закупка товара

            td.adapt-table--none  
                p 25%

            td 
                p.price 2 500 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p 8 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ООО

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 1 500 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 25%
                      p.tcm-6 8 мес.                 


                  button.btn-also.js-close-adapt-w 
          tr
            td.adapt-table--none 
                p UD-

            td 
                p ИП

            td.adapt-table--none  
                p Оптовая торговля

            td.adapt-table--none  
                p Закупка товара

            td.adapt-table--none  
                p 25%

            td 
                p.price 1 500 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p 8 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ИП

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 1 500 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 22%
                      p.tcm-6 18 мес.                 


                  button.btn-also.js-close-adapt-w 

          tr
            td.adapt-table--none 
                p С

            td 
                p ООО

            td.adapt-table--none  
                p Услуги

            td.adapt-table--none  
                p Закупка товара

            td.adapt-table--none  
                p 25%

            td 
                p.price 550 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p 8 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ООО

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 550 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 22%
                      p.tcm-6 18 мес.                 


                  button.btn-also.js-close-adapt-w 

          tr
            td.adapt-table--none 
                p С

            td 
                p ИП

            td.adapt-table--none  
                p Розничная торговля

            td.adapt-table--none  
                p Закупка товара

            td.adapt-table--none  
                p 25%

            td 
                p.price 800 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p 8 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ИП

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 800 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 22%
                      p.tcm-6 18 мес.                 


                  button.btn-also.js-close-adapt-w         
                  

          tr
            td.adapt-table--none 
                p D

            td 
                p ООО

            td.adapt-table--none  
                p Розничная торговля

            td.adapt-table--none  
                p Закупка товара

            td.adapt-table--none  
                p 25%

            td 
                p.price 1 500 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p 8 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ООО

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 1 500 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 22%
                      p.tcm-6 18 мес.                 


                  button.btn-also.js-close-adapt-w 

          tr
            td.adapt-table--none 
                p UD-

            td 
                p ИП

            td.adapt-table--none  
                p Розничная торговля

            td.adapt-table--none  
                p Закупка товара

            td.adapt-table--none  
                p 25%

            td 
                p.price 1 500 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p 8 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ООО

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 1 500 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 22%
                      p.tcm-6 18 мес.                 


                  button.btn-also.js-close-adapt-w 

          tr
            td.adapt-table--none 
                p С

            td 
                p ООО

            td.adapt-table--none  
                p Розничная торговля

            td.adapt-table--none  
                p Закупка товара

            td.adapt-table--none  
                p 25%

            td 
                p.price 1 500 000 р.
                button.btn-also.js-open-adapt-w 
            td.adapt-table--none  
                p 8 мес.

            td.cell-container
                .adapt-w
                  .row
                    .col-5.adapt-w-l
                      p.tt-1 ООО

                      p.tt Рейтинг
                      p.tt Тип бизнеса
                      p.tt Цель займа
                      p.tt Ставка
                      p.tt Срок

                    .col-7.adapt-w-r
                      p.tcm-1 1 500 000 р.

                      p.tcm-2 D
                      p.tcm-3 Розничная торговля
                      p.tcm-4 Закупка 18 мес.
                      p.tcm-5 22%
                      p.tcm-6 18 мес.                 


                  button.btn-also.js-close-adapt-w 

    +b.more-info.text-center
      +icon-svg('more')
      a(href="#") Показать ещё 10 заявок
