mixin footer
  footer.page-footer
    .page-footer-wrap.container
      .page-footer-item.item--logo
        a.page-footer-item__logo(href="")
          +icon-svg('logo-f')
      |                 
      .page-footer-item.item--menu
        a.page-footer-item__menu-a(href="#") Получить заем
        |                     
        a.page-footer-item__menu-a.active(href="#") Инвестировать
        |                     
        a.page-footer-item__menu-a(href="#") Декларация о рисках
        |                     
        a.page-footer-item__menu-a(href="#") Правила и условия
        |                     
        a.page-footer-item__menu-a(href="#") Конфиденциальность
      |                 
      .page-footer-item.item--menu
        a.page-footer-item__menu-a(href="#") О сервисе
        |                     
        a.page-footer-item__menu-a(href="#") Итоги 2017 года
        |                     
        a.page-footer-item__menu-a(href="#") О краудинвестинге
        |                     
        a.page-footer-item__menu-a(href="#") Как работает Leika
        |                     
        a.page-footer-item__menu-a(href="#") Контакты
      |                 
      .page-footer-item.item--contacts
        p.page-footer-item__contacts-p
          | Свяжитесь с нами
        |                     
        a.page-footer-item__contacts-a(href="") 8 800 345-89-87
        |                     
        p.page-footer-item__p 101000, Москва, Краснопресненская набережная, 13, офис 45
        |                     
        .page-footer-item__social
          a.page-header-social__a(href="#")
            i.fa.fa-facebook
          |                         
          a.page-header-social__a(href="#")
            i.fa.fa-twitter
    |             
    .page-footer-copy.container
      .page-footer-copy__p © Leika. Все права защищены
      |                 
      .page-footer-copy__dev
        | Разработано в 
        span.page-footer-copy__dev-span
          +icon-svg('empire_logo')          
