mixin home-therms
  section.section.home-terms.section--line
    p.section-center-title Условия    
    .container

      .row.home-terms-items
        
        .col-sm-6.home-terms-item
            .home-terms-item-pic
              +icon-svg('ruble')

            p.home-terms-item__p займы от 100 000 руб. до 10 000 000 руб.
        
        .col-sm-6.home-terms-item
          .home-terms-item-pic
            +icon-svg('auction')
        
          p.home-terms-item__p у компании не должно быть долгов и крупных арбитражей
     
        .col-sm-6.home-terms-item
          .home-terms-item-pic
            +icon-svg('calendar')
       
          p.home-terms-item__p на срок от 1 дня до 1 года
    
        .col-sm-6.home-terms-item
          .home-terms-item-pic 
            span 12
    
          p.home-terms-item__p компания существует более 12 месяцев

        .col-sm-6.home-terms-item
          .home-terms-item-pic 
            span %

          p.home-terms-item__p ставка 10-20% годовых

        .col-sm-6.home-terms-item
          .home-terms-item-pic          
            +icon-svg('contract')

          p.home-terms-item__p
            | компания должна иметь регулярный безналичный оборот по банковскому счету более 100 000 руб. в месяц
