mixin promo-invest
  +b.SECTION.promo-section--invest

    .container.mb-sm-50.mb-35
      .row
        .col-sm-8.offset-sm-4.col-lg-6.offset-lg-6
          h1.promo-section__title ИНВЕСТИРУЙТЕ
            br 
            | В ПРИБЫЛЬНЫЙ БИЗНЕС

          p.promo-section__p с доходностью от 15 до 30% годовых
        
          .promo-section-call
            .promo-section-call__span ЗАРЕГИСТРИРУЙТЕСЬ И ВЫБЕРИТЕ КОМПАНИЮ ДЛЯ ИНВЕСТИРОВАНИЯ

            form.section-form(action="")
              input.section-form__input(type="text", placeholder="Ваш e-mail")

              button.btn-grad.text-capitalize(type="submit" title="Отправить мне письмо с рассчётом") Зарегистрироваться

          .promo-section-video
            span.promo-section-video__icon.pulse
              img.d-block(src="img/icons/promoiconsvg.svg", alt="")
          
            a.promo-section-video__p(href="#") Как это работает?  



        .promo-section-bg


    section.promo-section-pluss
      .container
        .row.justify-content-between

          .col-sm-3.promo-section-pluss__item
            p.promo-section-pluss__item-title 46
                
            span.promo-section-pluss__item-p инвесторов уже зарегистрировано
     
          .col-sm-3.promo-section-pluss__item
            p.promo-section-pluss__item-title 18

            span.promo-section-pluss__item-p компаний уже получили займы

          .col-sm-3.promo-section-pluss__item
            p.promo-section-pluss__item-title 1 023 430

            span.promo-section-pluss__item-p рублей получено инвесторами

          .col-sm-3.promo-section-pluss__item
            p.promo-section-pluss__item-title 8

            span.promo-section-pluss__item-p компаниям нужны займы сейчас                 