mixin home-reviews
  section.section.home-reviews
    .container
      p.section-center-title Отзывы заёмщиков

      p.section-center-p
        | Способ получения монотонно диссонирует фрагментарный квазар. Классицизм, в первом приближении, представляет собой канон. Реакция Арбузова, вследствие квантового характера явления, заставляет композиционный енамин, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации.
    .container
      .slider.slider-five.swiper-container.home-reviews-items
        .swiper-wrapper
          .swiper-slide
            span.home-reviews-items__spanimg
              img(src="img/content/r1.png", alt="")

            .home-reviews-items
              p.home-reviews-items__title Алексей Уваров

              p.home-reviews-items__p инвестирует с помощью Leika 8 месяцев

          .swiper-slide
            span.home-reviews-items__spanimg
              img(src="img/content/r1.png", alt="")

            .home-reviews-items
              p.home-reviews-items__title Алексей Уваров

              p.home-reviews-items__p инвестирует с помощью Leika 8 месяцев

          .swiper-slide
            span.home-reviews-items__spanimg
              img(src="img/content/r1.png", alt="")

            .home-reviews-items
              p.home-reviews-items__title Алексей Уваров
               
              p.home-reviews-items__p инвестирует с помощью Leika 8 месяцев

          .swiper-slide
            span.home-reviews-items__spanimg
              img(src="img/content/r1.png", alt="")

            .home-reviews-items
              p.home-reviews-items__title Алексей Уваров

              p.home-reviews-items__p инвестирует с помощью Leika 8 месяцев

          .swiper-slide
            span.home-reviews-items__spanimg
              img(src="img/content/r1.png", alt="")

            .home-reviews-items
              p.home-reviews-items__title Алексей Уваров

              p.home-reviews-items__p инвестирует с помощью Leika 8 месяцев

          .swiper-slide
            span.home-reviews-items__spanimg
              img(src="img/content/r1.png", alt="")

            .home-reviews-items
              p.home-reviews-items__title Алексей Уваров

              p.home-reviews-items__p инвестирует с помощью Leika 8 месяцев

        .swiper-pagination.justify-content-center.d-flex
