.content {
  --scale: 1;
  color: $color-base;
  font-size: calc-size(16);
  line-height: (24/16);
  text-align: left;
  display: block;
  width: 255px;
  margin: 60px auto;
  a{
    transition: color 0.3s;
    text-decoration: none;
    background-image: linear-gradient(139deg, #FA6E71 0%, #C84080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0.9);
    &:hover{
      color: $color-link;
    }
  }
  p {
    margin: 0 0 em(24);
    color: #000000;
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 400;
    line-height: 1.6;
  }
  ol{
    li{
      color: #000000;
      font-family: 'Montserrat';
      font-size: 10px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 22px;
    }
  }
  img{
    margin: 30px auto;
  }
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 30px;
    background-image: linear-gradient(139deg, #FA6E71 0%, #C84080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0.9);
  }

  h1, .h1 {
    font-size: calc-size(22);
    text-align: center;
  }

  h2, .h2 {
    font-size: calc-size(30);
  }

  h3, .h3 {
    font-size: calc-size(24);
  }

  h4, .h4 {
    font-size: calc-size(18);
  }

  h5, .h5 {
    font-size: calc-size(16);
  }

  h6, .h6 {
    font-size: calc-size(14);
  }

  @include media-breakpoint-down(sm) {
    --scale: 14/16;
  }

  @include media-breakpoint-up(xss) {
    margin: 140px auto 125px;
    width: 460px;
    h1{
      font-size: calc-size(22);
      margin-bottom: 45px;
    }
    p{
      font-size: 11px;
    }

  }
  @include media-breakpoint-up(sm) {
    margin: 135px auto 120px;
    width: 580px;
    h1{
      font-size: calc-size(26);
      margin-bottom: 60px;
    }   
    p{
      font-size: 12px;
      line-height: 1.4;
    }
    ol{
      li{
        font-size: 11px;
        line-height: 1.3;
      }
    }
    img{
      margin: 40px auto;
    }    
  }
  @include media-breakpoint-up(md) {
    width: 780px;
    h1{
      font-size: calc-size(32);
    }
    p{
      font-size: 14px;
    }
    ol{
      li{
        font-size: 12px;
        line-height: 1.3;
      }
    }
    img{
      margin: 70px auto 50px;
    }       
  }
  @include media-breakpoint-up(lg) {
    ol{
      li{
        font-size: 14px;
        line-height: 1.6;
      }
    }
    img{
      margin: 30px auto 55px;
    }      
  }
  @include media-breakpoint-up(xl) {
    img{

    }
    p{
      font-size: 16px;
    }   
  }

}