.header {
  color: $color-base;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  height: 50px;
  box-shadow: 0 50px 85px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  transition: $transition-color;

  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 99;

  .page-header-logo {
    width: 80%;
    padding: 0;
    .logo{
      width: 62px;
      font-size: 50px;
      display: inline-block;
      vertical-align: middle;
  }}

  .header__btn-auth{
    display: none;
  } 
  .login--yes{
    background-color: #fff;
    .header__btn-call{
      display: none;
    }
    .header__btn-auth{
      display: block;
    }    
  }

  &__inner {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__hidden{
    display: none;
    text-align: center;
    max-width: 660px;
    z-index: 10;
  }
  &__mobile{
    justify-content: center;

    padding-left: 0;
    text-align: center;
  }
  &__toggle {
    background: none;
    flex: none;
    order: 1;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    margin-left: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover .header__toggle-icon{
      background-color: $color-link;
    }
  }

  &__toggle-icon {
    background-color: $color-base;
    width: 20px;
    height: 2px;
    margin-left: -13.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: $transition-all;

    &:nth-child(1) {
      margin-top: -7px;
    }

    &:nth-child(2) {
      margin-top: 1px;
    }

    &:nth-child(3) {
      margin-top:9px;
    }
  }

  &__date {
    font-size: 28px;
    line-height: 1;
    font-family: "Smarty Cond", sans-serif;
    white-space: nowrap;
  }

  &__menu {
    display: none;
  }

  &__soc-net {
    display: none;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 100px;
    max-width: 100px;
    margin: 0 auto;
  }

  &__btn-call{
    display: inline-block;
    vertical-align: middle;
    margin: 10px auto 20px;
    flex: 0 0 300px;
    max-width: 300px;
    a{
      display: block;
    }
  }

  &__soc-net-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 22px 0 0;
  }

  &__soc-net-item {
    color: $color-base;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: 0.3s;
    &--tw {
      font-size: 30px;
    }
    &--fb {
      font-size: 58px;
    }
    svg{
      color: #6d6d6d;
      stroke: #6d6d6d; 
      height: 32px;      
    }
    &:hover {
      color: $color-link;
      transition: 0.3s;
    }
    &:hover svg{
      color: $color-link;
      stroke: $color-link; 
    }
  }

  &__lang {
    font-family: "Smarty Cond", sans-serif;
    display: none;
    overflow: hidden;
    margin-top: 30px;
  }

  &__lang-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
  }

  &__lang-toggle {
    display: none;
  }

  &__lang-item {
    color: $color-base;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.63px;
    margin: 10px;
    transition: $transition-color;

    &:hover {
      color: $color-link;
    }

    &--selected {
      color: $color-link;
    }
  }

  &__lang-icon {
    display: none;
  }
  &__btn-auth{
    margin-right: 25px;
    position: relative;
    user-select: none;
    display: inline-block;
    margin-bottom: 70px;
    &::before {
      content: '▼';
      color: $color-link;
      font-size: 10px;
      line-height: 1;
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translate(0, -6px);
      z-index: -1;
    }
  }

  &__wrap-auth-img{
    height: 28px;
    width: 28px;
    overflow: hidden;
    border-radius: 30px;
    //border: 1px solid $color-link;
    display: inline-block;
    vertical-align: middle; 
    img{
      width: 100%;
    }
    img[src=""] {
      background: url('../img/content/person.png') no-repeat 50% 50%;
      border: none;
      height: 27px;
      display: block;
    }
  }

  &__person-name{
      color: #6d6d6d;
      font-family: 'Montserrat';
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      margin-left: 6px;
  }

    &__inner-auth {
      flex-flow: column;
      padding: 0;
      margin: 10px -15px 0 0;
      position: absolute;
      top: 100%;
      left: -60px;
      z-index: $zindex-dropdown;
      visibility: hidden;
      opacity: 0;
      transform: translate(0, 50px);
      transition: all 0.2s linear, visibility 0s 0.2s;
      text-align: center;
      width: 212px;
      box-shadow: 0 5px 15px rgba(154, 154, 154, 0.5);
      background-color: #ffffff;
      border-radius: 6px;
      li{
          list-style-type: none;
          display: block;
          line-height: 1.2;
          border-bottom: 1px solid #eee;
          cursor: pointer;
          &:last-child{
            border-bottom: 0;
          }
        a{
          text-decoration: none;
          color: #6d6d6d;
          font-family: 'Montserrat';
          font-size: 12px;
          padding: 12px 30px;          
          line-height: 1.2;
          font-weight: 400;
          transition: 0.3s;
          display: block;
        }
        &:hover a{
          color: $color-link;
        }       
      }
      &:before{
        content: '';
        display: block;
        background: url(../img/triangle.png) no-repeat 50% 50%;
        width: 25px;
        height: 30px;
        position: absolute;
        top: -26px;
        right: 40%;
      }
    }

    &__auth--open{
      &::before {
        content: '▲';
      }
      .header__inner-auth {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 10px);
        transition: all 0.2s linear, visibility;
      }

    }


  @include media-breakpoint-down(lg) {
    &--transparent--yes {
      &:not(.header--open) {
        color: white;
        background-color: transparent;
        box-shadow: none;

        .header__toggle-icon {
          background-color: white;
        }
      }
    }

    &--open {
      height: 100vh;

      .header__inner {
        flex-flow: column;
        align-items: stretch;
      }

      .header__toggle {
        order: 0;
      }

      .header__toggle-icon {
        background-color: #ccc0d0;
        width: 23px;
        margin-left: -11.5px;

        &:nth-child(1) {
          margin-top: -1px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          margin-top: -1px;
          transform: rotate(-45deg);
        }
      }

      .header__hidden {
        display: block;
        flex-grow: 1;
        padding: 0 $grid-gutter-width/2;
        margin: 20px (-$grid-gutter-width/2) 0;
      }

      .header__date {
        text-align: center;
      }

      .header__menu {
        display: block;
      }

      .header__soc-net {
        display: block;
      }

      .header__lang {
        display: block;
      }
    }
  }


  &__mobile_link{
      @extend .menu__link;
      background: none !important;
      width: 100%;
      padding: 10px 0 !important;
  }


  @include media-breakpoint-down(sm) {

    &__btn-call{

      a{
        font-size: 10px;
        padding-left: 12px;
        padding-right: 12px;
        margin: 10px auto;
        &.btn-border-grad{
          width: 68px;
        }
        &.btn-grad{
          width: 172px;

        }
      }
    }

  }

  @include media-breakpoint-up(xss) {
    height: 70px;
    &__btn-auth{
      margin-bottom: 0;
    }

    &__inner-auth {
      margin: 15px -15px 0 0;
      top: 100%;
      left: auto;
      right: 0;
      text-align: left;
      &:before{
        right: 65px;
      }
    }

    &__mobile_link{
      width: 100px;

    }
    &__soc-net-inner{
      margin-top: 0;
    }

    &__btn-call{
      margin: 0;

      a{
        display: inline-block;
        margin: 0 5px;
      }
    }

    .header__menu {
        display: block;
    }
    &__mobile{
      padding-left: 40px;
    }
    &__toggle {
      order: 0;
      position: relative;
      top: auto;
      right: auto;
      width: 27px;
      height: 27px;
    }
      &__toggle-icon {
        background-color: $color-base;
        width: 27px;
        height: 2px;
        margin-left: -13.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: $transition-all;

        &:nth-child(1) {
          margin-top: -11px;
        }

        &:nth-child(2) {
          margin-top: -1px;
        }

        &:nth-child(3) {
          margin-top: 9px;
        }
      }
      &__hidden {
        text-align: left;
      }
      &--open {
        
        .header__hidden {
          position: absolute;
          width: 100%;
          right: 0;
          top: 100%;
          margin: 0;
          padding: 13px 20px;
          width: 650px;
          box-shadow: 0 50px 85px rgba(0, 0, 0, 0.09);
          background-color: #f7f7f7;
        }
      }

  }

  @include media-breakpoint-up(sm) {
    height: 90px;
    &__inner-auth {
      margin-top: 30px; 
    }
    &__soc-net-item{
      margin: 7.5px;
    }

    &--open {

      .header__hidden {
        padding: 20px;
        width: 650px;
        box-shadow: 0 50px 85px rgba(0, 0, 0, 0.09);
        background-color: #f7f7f7;
      }
    }

  }

  @include media-breakpoint-up(md) {
  .page-header-logo {
      padding: 5px 0;
      .logo{
      width: 100px;
      font-size: 70px;
      display: inline-block;
      }
    }
    &__mobile{
        justify-content: flex-end; 
        padding-left: 0;     
    }
    &__btn-call{
      flex: 0 0 75%;
      max-width: 75%;
    } 
  }

  @include media-breakpoint-up(lg) {
    height: 90px;

    &__btn-call{
      margin-right: 0;
      a{
        margin-left: 20px;
      }
    }

    &__inner {
      flex-flow: column;
      align-items: stretch;
      width: 95%;
    }

    &__toggle {
      display: none;
    }

    &__hidden {
      display: block;
      height: 100%;
      width: 100%;
    }

    &__date {
      font-size: 32px;
      flex: none;
      margin-right: 30px;
    }

    &__menu {
      display: block;
      margin: 0 auto;
      max-width: 530px;

    }

    &__soc-net {
      display: inline-block;
      vertical-align: middle;
      flex: none;
      margin: 0 auto;
    }

    &__lang {
      display: block;
      flex: none;
      overflow: visible;
      position: relative;
      margin: 0 0 0 55px;

      &--open {
        .header__lang-toggle {
          &::after {
            content: '▲';
          }
        }

        .header__lang-inner {
          visibility: visible;
          opacity: 1;
          transform: translate(0, 0);
          transition: all 0.2s linear, visibility;
        }
      }
    }

    &__lang-toggle {
      color: $color-base;
      font-size: 16px;
      line-height: 1;
      letter-spacing: 0.72px;
      background: none;
      display: block;
      padding: 0;
      border: 0;
      transition: $transition-color;

      &::after {
        content: '▼';
        font-size: 9px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        transform: scale(1, 0.7);
      }

      &:hover {
        color: $color-link;
      }
    }

    &__lang-inner {
      background-color: #fcfcfc;
      box-shadow: 0 5px 20px rgba(92, 49, 132, 0.4);
      flex-flow: column;
      min-width: 97px;
      max-width: 30vw;
      padding: 10px 0;
      margin: 20px -15px 0 0;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: $zindex-dropdown;
      visibility: hidden;
      opacity: 0;
      transform: translate(0, 10px);
      transition: all 0.2s linear, visibility 0s 0.2s;

      &::before {
        content: '▲';
        color: #fcfcfc;
        text-shadow: 0 5px 20px rgba(92, 49, 132, 0.4);
        font-size: 20px;
        line-height: 1;
        position: absolute;
        bottom: 100%;
        right: 10px;
        transform: translate(0, 4px);
        z-index: -1;
      }

      &::after {
        content: '';
        background-color: #fcfcfc;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }

    &__lang-item {
      font-size: 16px;
      letter-spacing: 0.72px;
      display: flex;
      padding: 4px 20px;
      position: relative;
      margin: 0;

      &--selected {
        display: none;
      }
    }

    &__lang-icon {
      display: block;
      flex: none;
      width: 21px;
      height: 21px;
      margin-right: 8px;
    }

    &__lang-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2.5px 0;
    }

    &--transparent--yes {
      color: white;
      background-color: transparent;
      box-shadow: none;

      .header__soc-net-item {
        &:not(:hover) {
          color: white;
        }
      }

      .header__lang-toggle {
        &:not(:hover) {
          color: white;
        }
      }

      .menu__item {
        &:not(.menu__item--current) {
          .menu__link {
            &:not(:hover) {
              color: white;
            }
          }
        }
      }
    }
  }
}

header:not(.header--open).header--sticky{
  animation: headers 0.3s linear;
  height: 60px;
  .page-header-logo .logo {
    width: 65px;
    font-size: 50px;
  }
  .menu__item .menu__link, .menu__item .header__mobile_link{
    padding: 20px 0;
    font-size: 10px;
  }
  .header__soc-net-item svg{
    height: 25px;
  }
  .header__btn-call a{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @include media-breakpoint-down(xss) {
    height: 50px;
  }
}
header:not(.header--open).header{
  @include media-breakpoint-down(xs) {
    height: 55px;
  } 
}

header.header:not(.header--sticky){
  animation: headers-normal 0.3s linear;
}

@keyframes headers{
  0% {
    opacity: 0;
    top: -90px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes headers-normal{
  0% {
    opacity: 0.2;
    top: -60px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
} 
