.home-reviews {
	.section-center-p {
		max-width: 650px;
		margin: 20px auto;
		text-align: center;
	}

	&-items__spanimg img {
		margin: 20px auto;
	}
 @include media-breakpoint-down(sm) {
  padding-bottom: 0;
 }

}

.home-reviews-items__title {
    text-align: center;
    font-size: 18px;
}

.home-reviews-items .home-reviews-items__title, .home-reviews-items .home-reviews-items__p {
    display: none;
}

.home-reviews-items .swiper-slide-active .home-reviews-items__title {
    display: block;
    font-size: 18px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }    
}
.home-reviews-items .home-reviews-items{
    position: absolute;      
    top: 210px;
    width: 250px;
    transform: translateX(-50%);
    left: 50%; 
    @include media-breakpoint-down(xss) {
        top: 150px;
    }    
}
.home-reviews-items .swiper-slide-active .home-reviews-items__p {
    text-align: center;
    color: #6d6d6d;
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    right: auto;
    @include media-breakpoint-down(sm) {
      font-size: 10px;
    }
}
.home-reviews-items .swiper-wrapper {
    padding-bottom: 90px;
}
.home-reviews-items .slick-slide {
    padding-bottom: 17px;
    position: relative;
}
.home-reviews-items .swiper-pagination{
    background-color: #f7f7f7;
    text-align: center;
    height: 2px;
    bottom: 100px;
    @include media-breakpoint-down(sm) {
      bottom: 100px;
    }    
}
.home-reviews-items .swiper-pagination:after{
    content: '';
    width: 115px;
    height: 2px;
    margin: 0 auto;
    background-image: linear-gradient(139deg, #fa6e71 0%, #c84080 100%);
    display: inline-block;
    position: absolute;
}

.home-reviews-items .swiper-pagination-bullet{
    border-radius: 0;
    background-color: TRANSPARENT;
    display: block;
    width: 100%;
    margin: 0 !important;
    height: 2px;
}
 
.home-reviews span.home-reviews-items__spanimg {
    width: 70px;
    height: 150px;
    display: block;
    margin: 35px auto 0;
    opacity: 0.6;
    text-align: center;
    transition: 0.4s;
    @include media-breakpoint-down(xss) {
        margin-top: 18px;
        width: 50px;
        height: auto;
    }

}

.home-reviews .swiper-slide-active span.home-reviews-items__spanimg {
    width: 100%;
    opacity: 1;
    margin: 0 auto 0;    
    @include media-breakpoint-down(xss) {
      width: 80px;
      height: auto;
    }
}

.home-reviews .swiper-slide-active {
    width: 410px;
}
.carousel .slick-slide > div {
    height: 100%;
}

