.smi-about{
  .container{
   
  }
  .slider{
    margin-top: 0;
    margin-bottom: 20px;    
  }
  &-items {
    position: relative;

  }
  &-item {
    background: #f7f7f7;
    padding: 30px 25px;
    position: relative;
    height: 230px;
  }

  &-item__span-img {
    display: block;
    padding: 25px 0 10px
  }

  &-item__link {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 14px;
    border-bottom: none!important;
    color: #cd457e;
    text-decoration: none;
    svg{
      font-size: 12px;
      position: absolute;
      right: -15px;
      top: 3px;
      transition: 0.3s;
    }
    &:hover svg{
      color: #d45f90;
    }
  }

  &-item__p {
    font-size: 13px;
    line-height: 22px;
    margin: 10px 0;
    height: 6.6em;
    overflow: hidden;
  }
  .swiper-button-prev {
    left: -30px;
    display: none;
    svg{
      font-size: 40px;      
    }

  }
  .swiper-button-next {
    right: -30px;
    display: none;
    svg{
      font-size: 40px;      
    }    
  }

  @include media-breakpoint-up(xss) {
    &-item {
      padding: 30px 60px;
    }
    .slider{
      margin-top: 70px;
      margin-bottom: 50px;    
    }

  }

  @include media-breakpoint-up(sm) {
    &-item__link {
      position: absolute;
      top: 50px;
      right: 50px;
    }  
    .swiper-button-prev, .swiper-button-next{
      display: block;
    } 
  }
  @include media-breakpoint-up(md) {
    .swiper-button-prev {
      left: -80px;
    }
    .swiper-button-next {
      right: -80px;
    }
  }


}

