include lib/variables
include lib/mixins
include blocks/page
include blocks/promo-home
include blocks/about
include blocks/credit
include blocks/home-therms
include blocks/credits-table
include blocks/reviews
include blocks/mobile-device
include blocks/credits-plus-form
include blocks/smi
include blocks/header
include blocks/footer

+page(pagesList.about_croudinvest.title)
  +header
  +b.MAIN.__content.content
    +e.H1.__title О краудинвестинге
    +e.P.__text Вам наверняка знаком краудфандинг — сбор пожертвований через специальные интернет-площадки. Краудинвестинг работает по-другому, но также просто. Есть три стороны — площадка, инвесторы и компании. Компании хотят получить деньги на развитие, инвесторы хотят заработать. Площадка помогает инвесторам выбрать лучшие компании, рассчитать доходность, оформить документы и заключить сделки. Раньше инвесторы тратили на это время и деньги. Площадка делает это бесплатно и быстро в режиме онлайн.

    +e.P.__text Важно, что инвесторы всегда заключают сделки напрямую с компаниями. Площадка — это не фонд или банк.

    +e.IMG(src="img/content/acri.png" alt="").__img

    .row
      .col-sm-6
        +e.P.__text Вам наверняка знаком краудфандинг — сбор пожертвований через специальные интернет-площадки. Краудинвестинг работает по-другому, но также просто. Есть три стороны — площадка, инвесторы и компании. Компании хотят получить деньги на развитие, инвесторы хотят заработать. Площадка помогает инвесторам выбрать лучшие компании, рассчитать доходность, оформить документы и заключить сделки. 

      .col-sm-6
        +e.P.__text Ваш доход зависит от вида сделки и компании, в которую вы инвестируете. Вы можете приобрести долю в растущем бизнесе или акции. Через 2-3 года компания может кратно увеличить выручку. Тогда стоимость вашей доли вырастет в 10-15 раз.

    +b.BLOCKQUOTE.__blockquote Ваш доход зависит от вида сделки и компании, в которую вы инвестируете. Вы можете приобрести долю в растущем бизнесе или акции. Через 2-3 года компания может кратно увеличить выручку. Тогда стоимость вашей доли вырастет в 10-15 раз.

    +e.P.__text Вам наверняка знаком краудфандинг — сбор пожертвований через специальные интернет-площадки. Краудинвестинг работает по-другому, но также просто. Есть три стороны — площадка, инвесторы и компании. Компании хотят получить деньги на развитие, инвесторы хотят заработать. Площадка помогает инвесторам выбрать лучшие компании, рассчитать доходность, оформить документы и заключить сделки. 


  +credits-plus-form
  +footer.__footer