-
  const months = ['января' , 'февраля' , 'марта' , 'апреля' , 'мая' , 'июня' , 'июля' , 'августа' , 'сентября' , 'октября' , 'ноября' , 'декабря'];

  const pagesList = {
    uiKit: {title: 'UI kit', url: 'ui-kit.html'},
    svgSymbols: {title: 'SVG-symbols', url: 'svg-symbols-demo-page.html'},
    index: {title: 'Главная', url: 'index.html'},
    program: {title: 'Программа', url: 'program.html'},
    news: {title: 'Новости', url: 'news.html'},
    history: {title: 'История', url: 'history.html'},
    partners: {title: 'Спонсоры', url: 'partners.html'},
    gallery: {title: 'Галерея', url: 'gallery.html'},
    contacts: {title: 'Контакты', url: 'contacts.html'},
    newView: {title: 'Новости детальная', url: 'new-view.html'},
    historyView: {title: 'История детальная', url: 'history-view.html'},
    error404: {title: 'Error 404', url: 'error-404.html'},
  };