-
  const months = ['января' , 'февраля' , 'марта' , 'апреля' , 'мая' , 'июня' , 'июля' , 'августа' , 'сентября' , 'октября' , 'ноября' , 'декабря'];

  const pagesList = {
    uiKit: {title: 'UI kit', url: 'ui-kit.html'},
    svgSymbols: {title: 'SVG-symbols', url: 'svg-symbols-demo-page.html'},
    index: {title: 'Главная', url: 'index.html'},
    invest: {title: 'Инвестировать', url: 'invest.html'},    
    about_croudinvest: {title: 'О Кроудинвестинге', url: 'about-croudinvest.html'},
    declaration: {title: 'Деклорация о рисках', url: 'declaration.html'},    
    error404: {title: 'Error 404', url: 'error-404.html'},
  };